<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Twitter</h1>
    <div class="data">
    <% for(post of data){ %>
        <div class="box"><h3 class="id">ID : @<%=post.id%></h3>
        <h3 class="username">Username : @<%=post.username%></h3>
        <h5 class="tweet"><%= post.tweet %></h5>
        <br>
        
    </div>
    <div class="click">
        <a class="expand" href="http://localhost:8080/home/<%=post.id%>"> Expand </a>
        <br>
        <a class="update" href="http://localhost:8080/home/<%=post.id%>/update"> Update </a>
        <br>
        <form method="post" action="/home/<%= post.id %>?_method=DELETE">
            <button class="delete">Delete</button>

        </form>
    </div>
        
        <% } %>
    </div>
        <a class="newtweet" href="http://localhost:8080/home/newtweet">New Tweet</a>
   
</body>
</html>